/* Media query for mobile */
@media screen and (min-width: 320px) and (max-width: 480px) {
	body {
		width: 100%;
		margin: 0px;
		background: none;
		background-color: black;
		margin-top: 0px;
		margin-right: 0px;
	}

	/* mobile hamburger menu */
	.nav-mobile {
		display: block;
		width: 100vw;
		right: 100%;
		height: 100vh;
		position: fixed;
		text-align: center;
		z-index: 98;
		background-color: #bb163f;
		transition: 0.4s;
	}
	nav a:hover {
		background-color: #bb4965;
		color: white;
	}
	.nav-mobile ul {
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	.nav {
		display: none;
	}
	.nav-mobile.is-active {
		right: 0px;
	}

	.nav-mobile a {
		font-size: 1rem;
		color: white;
		text-decoration: none;
		font-family: "Myriad Pro", sans-serif;
		padding: 20px;
	}

	.nav-mobile li {
		padding: 20px;
		list-style: none;
	}

	.nav-mobile li:hover {
		background-color: #bb4965;
	}

	.hamburger {
		display: block;
		position: relative;
		left: 1vw;
		width: 35px;
		height: 25px;
		cursor: pointer;
		/* appearance: none; */
		background: none;
		outline: none;
		border: none;
		overflow: visible !important;
		z-index: 99;
		margin-bottom: 15px;
	}

	.hamburger .bar,
	.hamburger::after,
	.hamburger::before {
		content: "";
		display: block;
		width: 100%;
		height: 5px;
		background-color: #bb163f;
		margin: 6px 0px;
		transition: 0.4s;
		opacity: 100%;
	}

	.hamburger.is-active::before {
		transform: rotate(-45deg) translate(-8px, 6px);
	}
	.hamburger.is-active::after {
		transform: rotate(45deg) translate(-8px, -9px);
	}

	.hamburger.is-active .bar {
		opacity: 0;
	}

	.sections-about h2 {
		font-size: 2rem;
		padding-bottom: 10px;
	}

	.socials img {
		height: 30px;
	}

	#banner {
		height: 55vw;
		margin-top: 15px;
	}

	#banner h1 {
		position: relative;
		left: 5%;
		top: -125px;
		font-size: 7.25vw;
		width: 300px;
	}

	#banner h2 {
		position: relative;
		top: -130px;
		left: 6%;
		font-size: 4vw;
		width: 200px;
	}

	#banner h3 {
		position: relative;
		top: -120px;
		left: 6%;
		font-size: 3vw;
		width: 200px;
	}

	#banner img {
		left: 50vw;
		margin-right: 0px;
		top: 4.75vw;
		width: 45%;
	}

	.sections-about p {
		font-size: 0.8rem;
	}

	.sections h2 {
		font-size: 2rem;
	}

	li {
		font-size: 11px;
	}

	section.sections {
		padding-top: 35px;
	}

	.project-images {
		width: 80%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		margin: auto;
	}

	footer {
		max-width: 100vw;
	}
}

@media only screen and (max-width: 768px) {
.hamburger::after {
display: block;
}
}