/* Media query for mobile */
@media screen and (min-width: 320px) and (max-width: 480px) {
	body {
		width: 100vw;
		margin: 0;
		background: none;
		margin-top: 0px;
	}

	.sections-about h2 {
		font-size: 2rem;
		padding-bottom: 10px;
	}

	.socials img {
		height: 30px;
	}

	#banner {
		height: 55vw;
	}

	#banner h1 {
		position: relative;
		left: 5%;
		top: -125px;
		font-size: 7.25vw;
	}

	#banner h2 {
		position: relative;
		top: -130px;
		left: 6%;
		font-size: 4vw;
	}

	#banner h3 {
		position: relative;
		top: -120px;
		left: 6%;
		font-size: 3vw;
	}

	#banner img {
		left: 50vw;
		top: 4.5vw;
		width: 45%;
	}

	.sections-about p {
		font-size: 0.8rem;
	}

	.sections h2 {
		font-size: 2rem;
	}

	li {
		font-size: 11px;
	}

	section.sections {
		padding-top: 35px;
	}

	.project-images {
		width: 80%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		margin: auto;
	}
}
